@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange: hsl(25, 97%, 53%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

* {
	font-family: Overpass, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(228,11%,9%);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1, h2, h3, h4 {
	color: white;
	margin-bottom: 0.5em;
}

main {
	background: linear-gradient(hsl(213, 19%, 18%), hsl(215,27%,12%));
	max-width: 350px;
	height: 350px;
	border-radius: 1em;
	padding: 1.5em;
	overflow: hidden;
}

#svg {
	width: 2.5em;
	height: 2.5em;
	border-radius: 999em;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: hsla(216, 12%, 54%, 0.1);
	margin-bottom: 1em;
}

form {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr;
	row-gap: 2em;
	margin-top: 2em;
	label {
		position: relative;
	}
	input[type="radio"] {
		position: absolute;
		width: 48px;
		height: 48px;
		bottom: 0;
		opacity: 0;
	}
	.custom-checkbox {
		margin: 0;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 999em;
		width: 3em;
		height: 3em;
		background-color: $dark-blue;
		color: white;
	}
	input[type="radio"]:focus + .custom-checkbox {
		border: 5px solid $very-dark-blue;
	}
	input[type="radio"]:checked + .custom-checkbox {
		background-color: $light-grey;
	}
	input[type="radio"]:hover + .custom-checkbox {
		cursor: pointer;
		background-color: $orange;
	}
	button {
		text-transform: uppercase;
		font-weight: 700;
		grid-column: 1 / -1;
		padding: 1em;
		border: none;
		border-radius: 999em;
		background-color: $orange;
		color: white;
		transition-property: background, color, transform;
		transition: 0.2s linear;
	}
	button:hover {
		cursor: pointer;
		color: $orange;
		background: white;
		transform: translateY(-5px);
	}
}

*:focus {
	outline: 3px solid $light-grey;
}

#rating {
	display: flex;
	flex-direction: column;
	animation: slide-out 0.5s linear forwards;
	animation-play-state: paused;
}

@keyframes slide-out {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, -100vh);
	}
}

#thankyou {
	// transform: translate(0, 100vh);
	transition: transform 1s linear, opacity 0.5s linear;
	display: none;
	flex-direction: column;
	align-items: center;
	animation-name: slide-in;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
	#chosenRating {
		color: $orange;
		background-color: hsla(216, 12%, 54%, 0.1);
		border-radius: 999em;
		padding: 0.5em 0.8em;
		margin: 1em 0 1.5em;
	}
	p {
		text-align: center;
	}
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translate(0, 100vh);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

p {
	font-size: 15px;
	color: $light-grey;
}

.attribution {
	position: absolute;
	bottom: 2em;
	font-size: 11px;
	text-align: center;
	color: $medium-grey;
	a {
		color: $orange;
	}
}